<!DOCTYPE html>
<html>
<head>
	<title>Employee's Attendance</title>
<head>
<center>
	<font color="black" size="4" style="font-family: avenir">
		<h1 style="color: navy">Employee's Attendance</h1>
		<body bgcolor="beige">
				ID:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="reg_id"><br><br>
				<form action="/CheckIn" autocomplete="on" method = "POST" enctype="multipart/form-data">
				<form1 action="/CheckOut" autocomplete="on" method = "POST" enctype="multipart/form-data">
				
				<button type="submit" style="background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;">CHECK IN</button>
				<button1 type="submit" style="background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;">CHECK OUT</button>

			</form>
			</form1>
<a href="Register.html">Register A New Account</a>
	<body>
	</font>
</center>
</html>