<!DOCTYPE html>
<html>
<head>
    <title>Employee's CheckIn-Out</title>
</head>
<body>
    <center>
        <h1 style="color: navy">Employee's CheckIn-Out</h1>
        <body bgcolor="beige">
        <font color="black" size="4" style="font-family: avenir">
        
        <p>Check-In Time:</p>
        <p id="checkInTime"></p>
        
        <p>Check-Out Time:</p>
        <p id="checkOutTime"></p>

        <script>
            // Get the CheckInTime and CheckOutTime values from Flask using Jinja2 templating
            var checkInTime = "{{ CheckInTime }}";
            var checkOutTime = "{{ CheckOutTime }}";

            // Update the text content of the HTML elements with the datetime values
            document.getElementById("checkInTime").textContent = checkInTime;
            document.getElementById("checkOutTime").textContent = checkOutTime;
        </script>
    </center>
</body>
</html>
