<!DOCTYPE html>
<html>
<head>
	<title>Employee's CheckIn-Out</title>
<head>
<center>
	<h1 style="color: navy">Employee's CheckIn-Out</h1>
	<body bgcolor="beige">
	<font color="black" size="4" style="font-family: avenir">
        
        <p>CheckIn Time</p>
	<p>{{CheckInTime}}</p>
	
	<p>CheckIn Time</p>
	<p>{{CheckInTime}}</p>
	
	<div class="back-button">
		<a href='/'>
			<button type="submit" class="form-button">BACK</button>
		</a>
	</div>
    </center>
</body>
</html>








